---
import i18next, { t, changeLanguage } from "i18next";
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75">
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template </a> {t("footer.modified_by")}
    <a href="https://github.com/DavidCondeCubas" target="_blank" class="font-bold"> David Conde Cubas ⚡️</a>
  </div>
</footer>
<style>

</style>
