---
import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class

---
<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href={localizePath("/")}>{t("sidebar.home")}</a></li>
    <li><a class="py-3 text-base" id="project" href={localizePath("/project")}>{t("sidebar.projects")}</a></li>
    <li><a class="py-3 text-base" id="services" href={localizePath("/services")}>{t("sidebar.services")}</a></li>
    <li><a class="py-3 text-base" id="blog" href={localizePath("/blog")}>{t("sidebar.blog")}</a></li>
    <li><a class="py-3 text-base" id="cv" href={localizePath("/cv")}>{t("sidebar.cv")}</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:davidcondecubas@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">{t("sidebar.contact")}</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
